/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */

/* homepage css */

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
 
* {
  margin: 0;
  padding: 0;
}  

body {
  font-family: "Source Sans Pro";
  max-width: 100vw;
  overflow-x: hidden;
}

.headerWrapper h1 {
  color: #272727;
  font-size: 96px;
  font-weight: 700;
}

.headerWrapper h6 {
  color: #D6D6D6;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.sectionWrapper h2 {
  color: #151515;
  font-size: 64px;
  font-weight: 700;
}

.sectionWrapper h6 {
  color: #D6D6D6;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

p.description {
  color: #5A5A5A;
  font-size: 24px;
  font-weight: normal;
}

h1::selection {
  color: white;
  background: #272727;
}

h1::-moz-selection {
  color: white;
  background: #272727;
}

.section {
  width: 100vw;
  height: 100vh;
  min-height: 800px;
  background: white;
  position: relative;
}

.sectionWrapper {
  width: 85%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.background {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav{
  width: 100vw;
  height: 100px;
  background: #0082e6;
  position: absolute;
  top: 0;
  animation: 2s fadeInNav ease;
  margin-bottom:2rem;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 90px;
  padding: 20px 100px;
  font-weight: bold;
}

label.logo a:-webkit-any-link{
  color:white;
}

nav ul{
  margin-top:0.8rem;
  float: right;
  margin-right: 20px;
  height:100%;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  margin-top:0.5rem;
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 80px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (min-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 952px){
  .checkbtn{
    display: block;
  }
  nav ul{
    position: absolute;  
    z-index: 9999;  
    width: 30vh;
    height: 50vh;
    padding-left:0;
    top: 64px;
    left: -60%;
    text-align: center;
    transition: all .5s;
    background-color:#0082e6;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #30cfd0;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

button {
  border:none;
}

#quiz {
  display:block;
  margin:0 auto;
  margin-top:10vh;
  background: #e0c3fc;
  background-image: -webkit-linear-gradient(top, #e0c3fc, #8ec5fc);
  background-image: -moz-linear-gradient(top, #e0c3fc, #8ec5fc);
  background-image: -ms-linear-gradient(top, #e0c3fc, #8ec5fc);
  background-image: -o-linear-gradient(top, #e0c3fc, #8ec5fc);
  background-image: linear-gradient(to bottom, #e0c3fc, #8ec5fc);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  width:25%;
}

#quiz:hover {
  background: #667eea;
  background-image: -webkit-linear-gradient(top, #667eea, #764ba2);
  background-image: -moz-linear-gradient(top, #667eea, #764ba2);
  background-image: -ms-linear-gradient(top, #667eea, #764ba2);
  background-image: -o-linear-gradient(top, #667eea, #764ba2);
  background-image: linear-gradient(to bottom, #667eea, #764ba2);
  text-decoration: none;
}

.header1 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerWrapper {
  text-align: center;
  position: relative;
  padding: 56px 71px 128px 108px;
}

.headerWrapper h6 {
  margin-top:5rem;
  animation: 1s fadeIn ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.headerWrapper h1 {
  margin-top:1rem;
  animation: 1.5s fadeInTitle ease;
}

@keyframes fadeInTitle {
  0% {  
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circle {
  border-radius: 50%;
	width: 100px;
	height: 100px; 
}

.circle.blue {
  background: linear-gradient(#4F3DD5, #3DB2D5);
  position: absolute;
  top: 13vh;
  left: 0px;
  animation: circleBlueMove 2s ease;
  box-shadow: 3px 3px 15px rgba(61, 178, 213, 0.4);
}

@keyframes circleBlueMove {
  0% {
    opacity: 0;
    transform: translate(200px, 75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.circle.orange { 
  background: linear-gradient(#D53D3D, #D5B83D);
  position: absolute;
  bottom: 0px;
  right: 0px;
  animation: circleOrangeMove 2s ease;
  box-shadow: 3px 3px 15px rgba(213, 184, 61, 0.4);
}

@keyframes circleOrangeMove {
  0% {
    opacity: 0;
    transform: translate(-200px, -75px) rotate(90deg);
  }
  35% {
    opacity: 0;
    transform: translate(-200px, -75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.square {
  width: 100px;
  height: 100px;
}
 
.square.red {
  background: linear-gradient(135deg, #D53D3D, #D53DC9);
  position: absolute;
  top: 13vh; 
  right: 15px;
  animation: squareRedMove 2s ease;
  box-shadow: 3px 3px 15px rgba(213, 61, 201, 0.4);
  transform: rotate(45deg);
} 

@keyframes squareRedMove {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: translate(-200px, 75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.triangle svg {
  width: 175px;
  height: 175px;
  position: absolute;
  bottom: -17px; 
  left: -20px;  
  animation: triangleGreendMove 2s ease;
} 

@keyframes triangleGreendMove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translate(200px, -75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

/* Services */

.services h6 {
  margin-bottom: 5px;
}

.services h2 {
  margin-bottom: 15px;
}

.services .description {
  margin-bottom: 60px;
  width: 685px;
  line-height: 40px;
}

.services .grid {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-column-gap: 130px;
  grid-template-rows: 150px 150px;
  grid-row-gap: 30px;
}

.services .grid .card {
  width: 420px;
  padding: 20px 30px;
  background: linear-gradient(to bottom right, #313131, #0F0F0F);
  border-radius: 5px;
  display: block;
}

.services .grid .card h3 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.services .grid .card p {
  color: #C3C3C3;
  font-size: 9px;
  font-weight: normal;
}

.square.blue { 
  position: absolute;
  box-shadow: 3px 3px 15px rgba(61, 178, 213, 0.4);
  background: linear-gradient(#4F3DD5, #3DB2D5);
  top: 100px;
  right: 10px;
  width: 125px;
  height: 125px;
  opacity: 0.01;
  transition: all 0.05s ease;
  transform: translateX(125px);
}

 .square.blue.in-view {
  transform: rotate(22.5deg) translateX(0px);
  opacity: 1;
  transition: all 1s ease;
}

/* Responsive */

@media (max-width: 1280px) {
  
  .services .grid {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-column-gap: 50px;
    grid-template-rows: 150px 150px;
    grid-row-gap: 30px;
    margin-bottom:5rem;
  }
}

@media (max-width: 1200px) {
  
  .services .sectionWrapper {
    padding-top: 185px;
    padding-bottom: 185px;
  }
  
  .services .grid {
    display: grid;
    grid-template-columns: 480px;
    grid-template-rows: 150px 150px;
    grid-row-gap: 30px;
  }
  
  .services .grid .card {
    width: 420px;
    padding: 28px 40px;
    background: linear-gradient(to bottom right, #313131, #0F0F0F);
    border-radius: 5px;
  }
}

@media (max-width: 850px) {
  
  .services .sectionWrapper {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  
  .sectionWrapper h6 {
    font-size: 22px;
  }
  
  .sectionWrapper h2 {
    font-size: 48px;
  }
  
  .services .description {
    font-size: 22px;
    width: initial;
  }
  
  .services .square.blue {
    width: 75px;
    height: 75px;
    opacity:10%;
  }
   
   .services .grid {
    display: grid;
    grid-template-columns: 85%;
    grid-template-rows: initial;
    grid-row-gap: 25px;
  }
  
  .services .grid .card {
    width: 100%;
    padding: 31.5px 30px;
    background: linear-gradient(to bottom right, #313131, #0F0F0F);
    border-radius: 5px;
  } 

  .services .grid .card h3 {
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .services .grid .card p {
    color: #C3C3C3;
    font-size: 20px;
    font-weight: normal;
  }
}

@media (max-width: 850px) and (min-width: 440px){

.headerWrapper {
   position: static;
  padding: 0;
}
  
.overlay a {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-left: 40px;
  margin-bottom: 10px; 
  opacity: 0;
  transition: transform 0.2s ease;
  overflow: hidden;
}

.overlay p {
    margin-left: 40px;
}
  
#services {
  width: 134px;
}

#work {
  width: 150px;
}

#contact {
  width: 125px;
}
   
h6 {
  font-size: 22px;
}
  
.headerWrapper h1 {
  color: #272727;
  font-size: 56px;
  font-weight: 700;
  animation: 1.5s fadeInTitle ease;
}
  
.circle {
  border-radius: 50%;  
	width: 75px;
	height: 75px; 
}

.circle.blue {
  background: linear-gradient(#4F3DD5, #3DB2D5);
  position: absolute;
  top: 129px;
  left: 50px;
  animation: circleBlueMove 2s ease;
  box-shadow: 3px 3px 15px rgba(61, 178, 213, 0.4);
}
 
@keyframes circleBlueMove {
  0% {
    opacity: 0;
    transform: translate(200px, 75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.circle.orange { 
  background: linear-gradient(#D53D3D, #D5B83D); 
  position: absolute;
  top: 520px;
  right: 50px;
  animation: circleOrangeMove 2s ease;
  box-shadow: 3px 3px 15px rgba(213, 184, 61, 0.4);
}

@keyframes circleOrangeMove {
  0% {
    opacity: 0;
    transform: translate(-200px, -75px) rotate(90deg);
  }
  35% {
    opacity: 0;
    transform: translate(-200px, -75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.square {
  width: 75px;
  height: 75px;
}
 
.square.red {
  background: linear-gradient(135deg, #D53D3D, #D53DC9); 
  position: absolute;
  top: 130px; 
  right: 50px; 
  animation: squareRedMove 2s ease;
  box-shadow: 3px 3px 15px rgba(213, 61, 201, 0.4);
  transform: rotate(45deg);
} 

@keyframes squareRedMove {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: translate(-200px, 75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.triangle svg {  
  width: 125px;
  height: 125px;
  position: absolute;
  top: 480px;
  left: 25px;
  animation: triangleGreendMove 2s ease;
}

@keyframes triangleGreendMove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translate(200px, -75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}
}

@media (max-width: 440px) {

  .background {
    max-height: 700px;
  }
  
  .headerWrapper {
    position: static;
    padding: 0;
  }
  
.overlay a {
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-left: 40px;
  margin-bottom: 10px; 
  opacity: 0;
  transition: transform 0.2s ease;
  overflow: hidden;
}
  
.overlay p {
  margin-left: 40px;
  position: static;
  margin-top: 40px;
}
  
#services {
  width: 134px;
}

#work {
  width: 150px;
}

#contact {
  width: 125px;
}
   
.headerWrapper h6 {
  color: #D6D6D6;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  animation: 1s fadeIn ease;
}
  
.headerWrapper h1 {
  color: #272727;
  font-size: 48px;
  font-weight: 700;
  animation: 1.5s fadeInTitle ease;
}
  
.circle {
  border-radius: 50%;  
	width: 75px;
	height: 75px; 
}

.circle.blue {
  background: linear-gradient(#4F3DD5, #3DB2D5);
  position: absolute;
  top: 15vh;
  left: 25px;
  animation: circleBlueMove 2s ease;
  box-shadow: 3px 3px 15px rgba(61, 178, 213, 0.4);
}
 
@keyframes circleBlueMove {
  0% {
    opacity: 0;
    transform: translate(100px, 75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.circle.orange { 
  background: linear-gradient(#D53D3D, #D5B83D); 
  position: absolute;
  top: 480px;
  right: 25px;
  animation: circleOrangeMove 2s ease;
  box-shadow: 3px 3px 15px rgba(213, 184, 61, 0.4);
}

@keyframes circleOrangeMove {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
    transform: translate(-100px, -75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.square {
  width: 75px;
  height: 75px;
}
 
.square.red {
  background: linear-gradient(135deg, #D53D3D, #D53DC9); 
  position: absolute;
  top: 170px; 
  right: 25px; 
  animation: squareRedMove 2s ease;
  box-shadow: 3px 3px 15px rgba(213, 61, 201, 0.4);
  transform: rotate(45deg);
} 

@keyframes squareRedMove {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
    transform: translate(-100px, 75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}

.triangle svg {  
  width: 125px;
  height: 125px;
  position: absolute;
  top: 450px;
  left: 5px;
  animation: triangleGreendMove 2s ease;
}

@keyframes triangleGreendMove {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translate(100px, -75px) rotate(90deg);
  }
  100% {
    opacity: 1;
  }
}
  
  .square.blue {
    top: 30px;
    right: 10px;
    transform: translateX(60px);
  }
  
   .square.blue.in-view {
      transform: rotate(22.5deg) translateX(0px);
  }

}





























/* gamepage css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


nav{
  width: 100vw;
  height: 100px;
  background: #0082e6;
  position: absolute;
  top: 0;
  animation: 2s fadeInNav ease;
  margin-bottom:2rem;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 90px;
  padding: 20px 100px;
  font-weight: bold;
}

label.logo a:-webkit-any-link{
  color:white;
}

nav ul{
  margin-top:0.8rem;
  float: right;
  margin-right: 20px;
  height:100%;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  margin-top:0.5rem;
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 80px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (min-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 952px){
  .checkbtn{
    display: block;
  }
  nav ul{
    position: absolute;  
    z-index: 9999;  
    width: 30vh;
    height: 50vh;
    padding-left:0;
    top: 64px;
    left: -60%;
    text-align: center;
    transition: all .5s;
    background-color:#0082e6;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #30cfd0;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

.start-screen,
.score-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top:10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top:12rem;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
#start-button,
#restart {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.4);
}
#restart {
  margin-top: 0.9em;
}
#display-container {
  background-color: #ffffff;
  padding: 3.1em 1.8em;
  width: 80%;
  max-width: 37.5em;
  margin: 0 auto;
  margin-top:1rem;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 56%;
  left: 50%;
  border-radius: 0.6em;
}
.header {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: start;
  padding-left: 13rem;
  align-items: center;
  padding-bottom: 0.6em;
}
.timer-div {
  background-color: #e1f5fe;
  width: 7.5em;
  border-radius: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1.8em;
  margin-left:5rem;
}
.question {
  margin-bottom: 1.25em;
  font-weight: 600;
}
.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
}
.option-div:disabled {
  color: #000000;
  cursor: not-allowed;
}
#next-button {
  font-size: 1em;
  margin-top: 1.5em;
  background-color: #2575fc;
  color: #ffffff;
  padding: 0.7em 1.8em;
  border-radius: 0.3em;
  float: right;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}
.hide {
  display: none;
}
.incorrect {
  background-color: #ffdde0;
  color: #d32f2f;
  border-color: #d32f2f;
}
.correct {
  background-color: #e7f6d5;
  color: #689f38;
  border-color: #689f38;
}
#user-score {
  font-size: 1.5em;
  color: #ffffff;
}






























/* findmorepage css */

* {
  padding:0; 
  margin:0;

}
        
.box-zdmeau {
  margin:10px 0; 
  width: 60vw; 
  height: auto;  
  border: 1px solid #ccc;
}        

.Collapsing {
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  text-align: center;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  border-top: 1px solid #ddd;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #CCCCCC));
  
}

.Collapsing:before {
  content: "+";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  font-size:18px;
  font-weight:700;
}      

.coll_body > p {
  padding: 10px;
  font-size: 1rem;
}

.current:before {
  content: "-";
}    
        
.coll_body ul {
  padding: 4px 0px;
  list-style-position: inside;
  display:flex;
  flex-direction:column;
  justify-content:start;
}

.coll_body ul li {
  text-indent: 25px;
  padding: 5px 8px;
}

.coll_body ul li a {
  display: block;
  color: #666;
}

.coll_body ul li a:hover {
  text-decoration: underline;
}        

.Collapsing, .coll_body {
  width: 60vw;
}

.Collapsing{
  background: #0082e6;
  color: white;
  width: 60vw;
  position: center;
  
}

.centered {
  display:flex;
  justify-content:center;
}

.disorder_name {
  display:flex;
  justify-content: center;
  margin-top: 4rem;
}

.Collapsing::-webkit-details-marker {
  display: none;
  
}   

.coll_body {
  display: none; 
}  

*{
  text-decoration: none;
  box-sizing: border-box;
}

nav{
  width: 100vw;
  height: 100px;
  background: #0082e6;
  position: absolute;
  top: 0;
  animation: 2s fadeInNav ease;
  margin-bottom:2rem;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 90px;
  padding: 20px 100px;
  font-weight: bold;
}

label.logo a:-webkit-any-link{
  color:white;
}

nav ul{
  margin-top:0.8rem;
  float: right;
  margin-right: 20px;
  height:100%;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  margin-top:0.5rem;
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 80px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (min-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 952px){
  .checkbtn{
    display: block;
  }
  nav ul{
    position: absolute;  
    z-index: 9999;  
    width: 30vh;
    height: 50vh;
    padding-left:0;
    top: 64px;
    left: -60%;
    text-align: center;
    transition: all .5s;
    background-color:#0082e6;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #30cfd0;
  }
  #check:checked ~ ul{
    left: 0;
  }
}














/* loading page */
@import url('https://fonts.googleapis.com/css?family=Staatliches');

body {
  margin: 0;
  font-family: 'Staatliches', cursive;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  width: 100%;
  height: 100vh;
  animation: backgroundChange .5s linear 3s forwards;
  display:flex;
  justify-content: center;
}

.load-text {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 60px;
  width: fit-content;
  display: flex;
  animation: colorChange .5s linear 3s forwards;
  color:#0082e6;
}

.loaded-text {
  transform: scale(1.5);
  animation: scaleText .5s linear .5s forwards;
}

.loading-text {
  width: 0;
  overflow: hidden;
  animation: expand 1s linear 1.5s forwards;
  white-space: nowrap;
}

@keyframes scaleText {
  from {transform: scale(1.5)}
  to {transform: scale(1)}
}

@keyframes expand {
  from {width: 0;}
  to {width: 70vmax;}
}

@keyframes backgroundChange {
  from {background-color: white}
  to {background-color: #0082e6}
}

@keyframes colorChange {
  from {color: #0082e6}
  to {color: white}
}

@keyframes fadeOut {
  from {opacity: 1}
  to {
    opacity: 0; 
    z-index: -1;
  }
}
